= form_for @legal_form do |f|
  - if @legal_form.errors.any?
    #error_explanation
      %h2= "#{pluralize(@legal_form.errors.count, "error")} prohibited this legal_form from being saved:"
      %ul
        - @legal_form.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :legal_form_title
    = f.text_area :legal_form_title
  .field
    = f.label :legal_form_content
    = f.text_area :legal_form_content
  .field
    = f.label :legal_form_doc
    = f.text_area :legal_form_doc
  .field
    = f.label :legal_form_docx
    = f.text_area :legal_form_docx
  .field
    = f.label :legal_form_related_forms
    = f.text_area :legal_form_related_forms
  .field
    = f.label :credit
    = f.number_field :credit
  .field
    = f.label :legal_form_created
    = f.datetime_select :legal_form_created
  .field
    = f.label :legal_form_updated
    = f.datetime_select :legal_form_updated
  .field
    = f.label :legal_form_credit
    = f.number_field :legal_form_credit
  .field
    = f.label :legal_form_is_lea_output
    = f.number_field :legal_form_is_lea_output
  .field
    = f.label :legal_form_pdf
    = f.text_area :legal_form_pdf
  .actions
    = f.submit 'Save'
