%p#notice= notice

%p
  %b Glossary solr:
  = @glossary.glossary_solr
%p
  %b Glossary term:
  = @glossary.glossary_term
%p
  %b Glossary description:
  = @glossary.glossary_description
%p
  %b Glossary case number:
  = @glossary.glossary_case_number
%p
  %b Glossary year:
  = @glossary.glossary_year
%p
  %b Glossary month:
  = @glossary.glossary_month
%p
  %b Glossary laws:
  = @glossary.glossary_laws
%p
  %b Glossary reference:
  = @glossary.glossary_reference
%p
  %b Glossary bir number:
  = @glossary.glossary_bir_number
%p
  %b Glossary bir year:
  = @glossary.glossary_bir_year
%p
  %b Glossary bir month:
  = @glossary.glossary_bir_month
%p
  %b Glossary revenue number:
  = @glossary.glossary_revenue_number
%p
  %b Glossary revenue year:
  = @glossary.glossary_revenue_year
%p
  %b Glossary revenue month:
  = @glossary.glossary_revenue_month
%p
  %b Glossary created:
  = @glossary.glossary_created
%p
  %b Glossary updated:
  = @glossary.glossary_updated
%p
  %b Glossary credit:
  = @glossary.glossary_credit
%p
  %b Glossary is lea output:
  = @glossary.glossary_is_lea_output

= link_to 'Edit', edit_glossary_path(@glossary)
\|
= link_to 'Back', glossaries_path
