- if message.is_lea_response
    %li{:id => "message-#{message.id}", :class => "left clearfix"}
        %p.message-content
            = raw message.content
        %br
        %small.pull-right.text-muted
            %span.glyphicon.glyphicon-time
            #{time_ago_in_words(message.created_at)} ago
- else
    %li{:id => "message-#{message.id}", :class => "right clearfix"}
        %p.message-content
            = raw message.content
        %br
        %small.pull-right.text-muted
            %span.glyphicon.glyphicon-time
            #{time_ago_in_words(message.created_at)} ago