= form_for @case_request do |f|
  - if @case_request.errors.any?
    #error_explanation
      %h2= "#{pluralize(@case_request.errors.count, "error")} prohibited this case_request from being saved:"
      %ul
        - @case_request.errors.full_messages.each do |msg|
          %li= msg

  %table{:class => "table"}
    %tr.field
      %td= f.label :user
      %td= @case_request.user_id
    %tr.field
      %td= f.label :title
      %td= @case_request.title
    %tr.field
      %td= f.label :content
      %td= f.text_field :content, :class => "form-control"
    .field
      = f.hidden_field :case_request_id, value: @case_request.id
    %tr.actions
      %td= f.submit 'Save', :class => "btn btn-success"
      %td
