%h1 Listing cases

%table
  %thead
    %tr
      %th Case solr
      %th Case number
      %th Case date
      %th Case title
      %th Case longtitle
      %th Case content
      %th Case created
      %th Case updated
      %th
      %th
      %th

  %tbody
    - @cases.each do |case|
      %tr
        %td= case.case_solr
        %td= case.case_number
        %td= case.case_date
        %td= case.case_title
        %td= case.case_longtitle
        %td= case.case_content
        %td= case.case_created
        %td= case.case_updated
        %td= link_to 'Show', case
        %td= link_to 'Edit', edit_case_path(case)
        %td= link_to 'Destroy', case, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Case', new_case_path
