%nav.navbar.navbar-default.navbar-fixed-top
  - if session['user_id'] != nil
    %ul.nav.navbar-nav
      %li
        = link_to image_tag('favicon.ico'), home_path, class: 'navbar-brand'
      - if session['is_admin']
        %li
          = link_to 'User Messages', admin_home_path
        %li
          = link_to 'Questions', questions_path
        %li
          = link_to 'Case Requests', case_requests_path
        %li
          = link_to 'Glossary Requests', glossary_requests_path
        %li
          = link_to 'Form Requests', form_requests_path
      %li
        = link_to 'Logout', logout_path